    
    
    <div class="cta">
        <h4 id="cta-heading">Ready to start a project?</h4>
        <div class="cta-button">
            <form method="GET" action="/contact">
               <button class="btn btn-lg btn-warning">Lets Go!</btn> 
            </form>
            
        </div>
    </div>

    
    
    
    
    
    <div class="container-fluid" id="footer"> 
      <div class="row">
         <div class="col-md-6 col-xs-12 social">
           
           <h4>Check Us Out On:</h4>
           <ul id="social-icons">
             <li class="list-inline-item h4"><a href="/coming-soon" class="icons"><i class="fab fa-facebook-f"></i></a></li>
             <li class="list-inline-item h4"><a href="/coming-soon" class="icons"><i class="fab fa-twitter"></i></a></li>
             <li class="list-inline-item h4"><a href="/coming-soon" class="icons"><i class="fab fa-instagram"></i></a></li>
             <li class="list-inline-item h4"><a href="/coming-soon" class="icons"><i class="fab fa-behance"></i></a></li>
             <li> <br/></li>
             <li>&copy 2018 WD Company. All rights reserved.</li>
           </ul>
         </div>
         <div class="col-md-6 col-xs-12">
           <ul id="address">
             <li><a href='#landing' class="to">Back to the top <i class="fas fa-chevron-circle-up"></i></a></li>
             <li> <br/></li>
             <li><strong>WD HQ</strong></li>
             <li>15863 - 116 Ave,</li>
             <li>Edmonton Ab. T5M 3W1</li>
             
           </ul>
         </div>
         </div>
      </div>
    </div>
    
    
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/popper.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/custom.js" type="text/javascript"></script>
    <script src="js/particles.js" type="text/javascript"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    
</body>
</html>