<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edmonton's Web Design Company</title>
    
    <link rel='stylesheet' type='text/css' href="css/bootstrap.css"></link>
    <link rel='stylesheet' type='text/css' href="css/main.css"></link>
    <link rel='stylesheet' type='text/css' href="css/landing.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400, 900" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

</head>
<body>
    <div id="landing">
      <a class="home hover" href="/"><img src="../assets/img/wd-logo-white.PNG" id="wd-white" ></img></a>
      <div id="particles">
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">
          <a class="navbar-brand" href="/"><img id ="navlogo" src="assets/img/wd-logo-black.PNG"></a>
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse  justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item main ">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item capabilities">
                <a class="nav-link" href="/capabilities">Capabilities</a>
              </li>
              <li class="nav-item work">
                <a class="nav-link" href="/work">Work</a>
              </li>
              <li class="nav-item contact">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      
      <div class="test">
        <div id="buttons">
          <ul class="list-inline text-center">
            <li class="list-inline-item"><a href="/"><button type="button" class="btn btn-outline-light btn-lg main">Home</button></a></li>
            <li class="list-inline-item"><a href="/capabilities"><button type="button" class="btn btn-outline-light btn-lg capabilities">Capabilities</button></a></li>
            <li class="list-inline-item"><a href="/work"><button type="button" class="btn btn-outline-light btn-lg work">Work</button></a></li>
            <li class="list-inline-item"><a href="/contact"><button type="button" class="btn btn-outline-light btn-lg contact">Contact</button></a></li>
          </ul>      
        </div> 
        <h1 class="display-4 text-center"><strong>Web Design & Development</strong></h1>
        
        <div id="blurb">
           <h3 class=" text-center">
             Building Connections Between Client and Customer
            </h3>
         </div>
        
               
      </div>
      

             

       <span class="scroll-btn hover">
      	<a href="#div1">
      		<span class="mouse">
      			<span>
      			</span>
      		</span>
      	</a>
       </span>
       
       
       
       
    </div>   
    
  
    
       