<% include partials/header %>


  
    <div class="container-fluid segment" id="div1"> 
      <div class="content">
        <h2><strong>What We Do</strong></h2>
    
        <p>First and foremost we develop custom websites catered to your needs. Be that building a website from scratch or upgrading an existing site. </p>
        
        <button class="btn btn-lg btn-warning" id="show-more">Contact</button>
      </div>
    </div>
    
    
    <div class="parallax" id="p1">
      <h2>Branding and Design</h2>
    </div>

    <div class="container-fluid segment code1"> 
      <div class="row content">
        
          <ul>
            <li>Brand Strategy - We will sit down with you and go over everything that its needed to help position brand. the information that will be flushed out in this session will help with everything from logo design, creating a website and it contents, to marketing strategies.</li>
            <li>Logo Design - Set the tone of your brand with a new logo. Many factors that are required for a great logo. Has to be apporpriate for your audience, simple yet unique, timeless and versatile. Something that is easily recognizable </li>
            <li>Designing the User Experience  - Information Architecture, Prioritize the information and content to be displayed. User Interface, appropriate visual communication</li>
            <li>Wireframing/Prototyping - laying out the blueprints of the website and making sure the customer is happy with the direction of the project. This is done through wireframes and mockups</li>
          </ul>
        
      </div>
    </div>


    <div class="container-fluid segment tab"> 
      <div class="tab-more">
        <p><em>Services</em>&nbsp;&nbsp;
          <a id="brand" href="#p1">
            <i class="fas fa-angle-double-down"></i>
          </a>
        </p>
      </div>
      
      <div class="content">
        <div class="row">
          <div class="col-md-3">
            <img class="skill-logo" src="../assets/img/lightbulb.svg"></img>
          </div>
          
          <div class="col-md-9">
            <p>What is the gut feeling people have when they see or hear about your business? This is your brand. To express your brand positively and gain the trust of a customer you must make sure that their experience is enjoyable and consistent. Thats where we come in!</p>
          </div>
          
        </div>
      </div>
    </div>

    
    <div class="parallax" id="p2">
      <h2>Web Development</h2>
    </div>

    <div class="container-fluid segment code2"> 
      <div class="row content">
        
          <ul id="webdevlist">
            <li>Domain and Hosting -  We can secure your custom domain and setup you webhosting plan for you.</li>
            <li>Upgrade existing website - Have an outdated website and want to give it a more modern edge. You've come to the right place</li>
            <li>Build a new responsive website - after approval from wireframes and mockups we will get started on the nuts and bolts of creating a website</li>
            <li>User testing and browser compatability - We make sure that our websites work on tablets or mobile, cross platforms and browsers to give the user the best experience</li>
          </ul>
        <hr></hr>
      </div>
      
      <div class="tool-container">
        <h4 class="text-center" id="tools">Here are some of the tools we work with.</h4>
        <ul class="sizer">
          <li class="grid-item-size">
            <img class="wdtools" src="../assets/img/webdevtools/html.png"></img>
          </li>
          <li class="grid-item-size">
            <img class="wdtools" src="../assets/img/webdevtools/css.png"></img>
          </li>
          <li class="grid-item-size">
            <img class="wdtools" src="../assets/img/webdevtools/wordpress.png"></img>
          </li>
          <li class="grid-item-size">
            <img class="wdtools" src="../assets/img/webdevtools/javascript.png"></img>
          </li>
          <li class="grid-item-size">
            <img class="wdtools" src="../assets/img/webdevtools/jquery.png"></img>
          </li>
          <li class="grid-item-size">
            <img class="wdtools" src="../assets/img/webdevtools/bootstrap.png"></img>
          </li>
          <li class="grid-item-size">
            <img class="wdtools" src="../assets/img/webdevtools/nodejs.png"></img>
          </li>
          <li class="grid-item-size">
            <img class="wdtools" src="../assets/img/webdevtools/npm.png"></img>
          </li>
          <li class="grid-item-size">
            <img class="wdtools" src="../assets/img/webdevtools/inkscape.png"></img>
          </li>
          <li class="grid-item-size">
            <img class="wdtools" src="../assets/img/webdevtools/mongodb.png"></img>
          </li>
          <li class="grid-item-size">
            <img class="wdtools" src="../assets/img/webdevtools/git.png"></img>
          </li>
          <li class="grid-item-size">
            <img class="wdtools" src="../assets/img/webdevtools/gimp.png"></img>
          </li>
        </ul>
      </div>

     </div> 
    

    <div class="container-fluid segment tab"> 
    
      <div class="tab-more">
          <p><em>Services</em>&nbsp;&nbsp;
            <a class="more" id="web-dev" href="#p2">
              <i class="fas fa-angle-double-down"></i>
            </a>
          </p>
      </div>
      
      <div class="content">
        <div class="row">
          <div class="col-md-3">
            <img class="skill-logo" src="../assets/img/laptop.svg"></img>
          </div>
          
          <div class="col-md-9">
            <p>We can get you started from 0 to 100 on all your digital product needs. We can create a professional website with custom management system like workpress or keystone or Ecommerce website. Talk with us today to start your next project. </p>
          </div>
          
        </div>
      </div>
    </div>
    
    

    
    
    
    
    
    <div class="parallax" id="p3">
      <h2>Digital Marketing & Analytics</h2>
    </div>
    
    
    <div class="container-fluid segment code3"> 
      <div class="row content">
        
          <ul>
            <li>Search Engine Optimization - This is more than just adding keywords to your website nowadays. Google uses algorithms to determine which websites are the most "useful" and ranks them accordingly. We can help you traverse these waters and bring in organic traffic </li>
            <li>Search Engine Marketing - Paid Per Click/ Google advertising </li>
            <li>Social Media Marketing - Facebook Instagram Advertising</li>
            <li>Research and Analysis - qqq</li>
          </ul>
        
      </div>
    </div>
    
    
    <div class="container-fluid segment tab"> 
      <div class="tab-more">
        <p><em>Services</em>&nbsp;&nbsp;
          <a id="dmna" href="#p3">
            <i class="fas fa-angle-double-down"></i>
          </a>
        </p>
      </div>
      
      <div class="content">
        <div class="row">
          <div class="col-md-3">
            <img class="skill-logo" src="../assets/img/analytics.svg"></img>
          </div>
          
          <div class="col-md-9">
            <p>Now you have a fancy website. What happens after? If you build it will they come? ...</p>
            <p>With the proper digital marketing strategies they should!</p>
          </div>
          
        </div>
      </div>
    </div>

<% include partials/footer %>


