<% include partials/header %>


  
    <div class="container-fluid segment" id="div1"> 
      <div class="content">
        <h2><strong>Here are some of the tools at our disposal</strong></h2>
    
        <p>If we do not have what you are looking for I'm sure we can help figure out what you need. Contact us to find out more information </p>
        <button class="btn btn-lg btn-warning">Contact</button>
      </div>
    </div>
    
    
    <div class="container-fluid segment"> 
    <hr></hr>
      <div class="row content">
        <div class="col-md-3">
          <img class="cap-logo" src="https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg" id="html5" ></img>
        </div>
        <div class="col-md-9">
          <p>HTML5 is a markup language used for structuring and presenting content on the World Wide Web. It is the fifth and current major version of the HTML standard.
It includes detailed processing models to encourage more interoperable implementations; it extends, improves and rationalizes the markup available for documents, and introduces markup and application programming interfaces (APIs) for complex web applications.</p>
        </div>
      </div>
    </div>
    <div class="container-fluid segment ">
      <hr></hr> 
      <div class="row content">
        <div class="col-md-3">
          <img class="cap-logo" src="https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg"></img>
        </div>
        <div class="col-md-9">
          <p>CSS is a style sheet language used for describing the presentation of a document written in a markup language. Along with HTML and JavaScript, CSS is a cornerstone technology used by most websites to create visually engaging webpages, user interfaces for web applications, and user interfaces for many mobile applications.</p>
        </div>
      </div>
    </div>
    
    <div class="container-fluid segment"> 
    <hr></hr>
      <div class="row content">
        <div class="col-md-3">
          <img class="cap-logo" src="https://upload.wikimedia.org/wikipedia/commons/9/99/Unofficial_JavaScript_logo_2.svg"></img>
        </div>
        <div class="col-md-9">
          <p>JavaScript is a high-level, dynamic, weakly typed, prototype-based, multi-paradigm, and interpreted programming language. Alongside HTML and CSS, JavaScript is one of the three core technologies of World Wide Web content production. It is used to make webpages interactive and provide online programs, including video games. The majority of websites employ it, and all modern web browsers support it without the need for plug-ins by means of a built-in JavaScript engine</p>
        </div>
      </div>
    </div>
    
    <div class="container-fluid segment "> 
    <hr></hr>
      <div class="row content">
        <div class="col-md-3">
          <img class="cap-logo" src="https://upload.wikimedia.org/wikipedia/commons/8/81/JQuery_logo_text.svg"></img>
        </div>
        <div class="col-md-9">
          <p>jQuery is a cross-platform JavaScript library designed to simplify the client-side scripting of HTML. It is free, open-source software using the permissive MIT License. Web analysis indicates that it is the most widely deployed JavaScript library by a large margin.</p>
        </div>
      </div>
    </div>

    <div class="container-fluid segment " > 
    <hr></hr>
      <div class="row content">
        <div class="col-md-3">
          <img class="cap-logo" src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg"></img>
        </div>
        <div class="col-md-9">
          <p>Node.js is an open-source, cross-platform JavaScript run-time environment for executing JavaScript code server-side. Historically, JavaScript was used primarily for client-side scripting, in which scripts written in JavaScript are embedded in a webpage's HTML, to be run client-side by a JavaScript engine in the user's web browser. Node.js enables JavaScript to be used for server-side scripting, and runs scripts server-side to produce dynamic web page content before the page is sent to the user's web browser. Consequently, Node.js has become one of the foundational elements of the "JavaScript everywhere" paradigm, allowing web application development to unify around a single programming language, rather than rely on a different language for writing server side scripts.</p>
        </div>
      </div>
    </div>
    <div class="container-fluid segment " > 
    <hr></hr>
      <div class="row content">
        <div class="col-md-3">
          <img class="cap-logo" src="/assets/img/mongodb.svg"></img>
        </div>
        <div class="col-md-9">
          <p>MongoDB is a free and open-source cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with schemas. MongoDB is developed by MongoDB Inc., and is published under a combination of the GNU Affero General Public License and the Apache License.</p>
        </div>
      </div>
    </div>
    <div class="container-fluid segment " > 
    <hr></hr>
      <div class="row content">
        <div class="col-md-3">
          <img class="cap-logo" src="https://upload.wikimedia.org/wikipedia/commons/0/09/Wordpress-Logo.svg"></img>
        </div>
        <div class="col-md-9">
          <p>WordPress is a free and open-source content management system (CMS) based on PHP and MySQL. To function, WordPress has to be installed on a web server, which would either be part of an Internet hosting service or a network host in its own right</p>
        </div>
      </div>
    </div>

<% include partials/footer %>


