<!doctype html>
<html lang="en">
<head>
  <title>WD | Services: Web Design, SEO, UI/UX, Digital Marketing, Social Media, Etc... </title>
  <meta name="description" content="Let us design your website. Basic website are a dime a dozen. We will go to extra mile to make sure your goals are reached. Take advantage of SEO, Social Media, Brand Strategy, and More...">
  <% include partials/header %>
</head>

<% include partials/landing %>

  
    <div class="container-fluid segment" id="div1"> 
      <div class="content">
        <h2><strong>What We Do</strong></h2>
    
        <p>First and foremost we create awesome websites catered to your goals. Be that buildling an online presence, gaining more customers, or upgrading an existing website. </p>

      </div>
    </div>
    
    
    <div class="parallax" id="p1">
      <h2 class="par-head">Branding & Design</h2>
      <div class="tab1">
         <p class="find-more">
          <em>Click to show more</em>
            <a id="brand" href="javascript:;">
              <i class="fas fa-angle-double-down"></i>
            </a>
        </p>
      </div>
    </div>
  
    <div class="container-fluid segment code" id="branding-design-info"> 
      <div class="row content">
        
          <ul>
            <li><strong>Brand Strategy</strong> - We go over everything that its needed to help position your brand effectively. The information that will be flushed out in this session will help with everything from logo design, creating a website, content, to marketing strategies.</li>
            <li><strong>Logo Design</strong> - Set the tone of your brand with a great logo. Many factors that are required for a logo to be considered great. Logos should be appropriate for your audience, simple yet unique, timeless and versatile. Something that is easily recognizable.</li>
            <li><strong>Designing the User Experience</strong> - We start by prioritizing the information and content to be displayed then designing the appropriate visual communications.</li>
            <li><strong>Wireframing/Prototyping</strong> - laying out the blueprints and scope of the website, making sure everyone is happy with direction of the project. This is done through wireframes and mockups</li>
          </ul>
        
      </div>
    </div>
      
      <div class="container-fluid segment">
        <div class="row content">
          <div class="col-md-3">
            <img class="skill-logo" src="../assets/img/lightbulb.svg"></img>
          </div>
          
          <div class="col-md-9">
            <p>How do people feel when they see or hear about your business? This is your brand. To express your brand positively and gain the trust of a customer you must make sure that their experience is enjoyable and consistent. Thats where we come in!</p>
          </div>
          
        </div>
      </div>
    
    
    <div class="parallax" id="p2">
      <h2 class="par-head">Web Development</h2>
      <div class="tab1">
         <p class="find-more">
          <em>Click to show more</em>
            <a id="web-dev" href="javascript:;">
              <i class="fas fa-angle-double-down"></i>
            </a>
        </p>
      </div>
    </div>

    <div class="container-fluid segment code" id="web-development-info"> 
      <div class="row content">
        
          <ul id="webdevlist">
            <li><strong>Domain and Hosting</strong> -  We can secure your custom domain and setup a webhosting plan for you.</li>
            <li><strong>Upgrade existing websites</strong> - Have an outdated website? We can give it a refresh and a more modern edge.</li>
            <li><strong>Building responsive websites</strong> - After approval from wireframes and mockups we will get started on the nuts and bolts of creating a website that works on mobile, tablet and desktop.</li>
            <li><strong>Website Features</strong> - We can accommodate customization such as CMS (content management system) or Ecommerce</li>
            <li><strong>User testing and browser compatability </strong>- We make sure that our websites work on tablets or mobile, cross platforms and browsers to give the user the best experience</li>
          </ul>
        <hr></hr>
      </div>
      
      <div class="tool-container">
        <h4 class="text-center" id="tools">Here are some of the tools we work with.</h4>
        <ul class="sizer">
          <li class="grid-item-size">
            <img class="wdtools" src="../assets/img/webdevtools/html.png"></img>
          </li>
          <li class="grid-item-size">
            <img class="wdtools" src="../assets/img/webdevtools/css.png"></img>
          </li>
          <li class="grid-item-size">
            <img class="wdtools" src="../assets/img/webdevtools/wordpress.png"></img>
          </li>
          <li class="grid-item-size">
            <img class="wdtools" src="../assets/img/webdevtools/javascript.png"></img>
          </li>
          <li class="grid-item-size">
            <img class="wdtools" src="../assets/img/webdevtools/jquery.png"></img>
          </li>
          <li class="grid-item-size">
            <img class="wdtools" src="../assets/img/webdevtools/bootstrap.png"></img>
          </li>
          <li class="grid-item-size">
            <img class="wdtools" src="../assets/img/webdevtools/nodejs.png"></img>
          </li>
          <li class="grid-item-size">
            <img class="wdtools" src="../assets/img/webdevtools/npm.png"></img>
          </li>
          <li class="grid-item-size">
            <img class="wdtools" src="../assets/img/webdevtools/inkscape.png"></img>
          </li>
          <li class="grid-item-size">
            <img class="wdtools" src="../assets/img/webdevtools/mongodb.png"></img>
          </li>
          <li class="grid-item-size">
            <img class="wdtools" src="../assets/img/webdevtools/git.png"></img>
          </li>
          <li class="grid-item-size">
            <img class="wdtools" src="../assets/img/webdevtools/gimp.png"></img>
          </li>
        </ul>
      </div>

     </div> 
    

    <div class="container-fluid segment tab"> 
      <div class="content">
        <div class="row">
          <div class="col-md-3">
            <img class="skill-logo" src="../assets/img/laptop.svg"></img>
          </div>
          
          <div class="col-md-9">
            <p> Web Technologies are advancing at an amazing pace. Keeping on top of the latest technologies requires passion and motivation. Let us share our passion and expertise to create your next project.
            </p>
          </div>
          
        </div>
      </div>
    </div>
    
    

    
    <div class="parallax" id="p3">
      <h2 class="par-head">Digital Marketing & Analytics</h2>
      <div class="tab1">
         <p class="find-more">
          <em>Click to show more</em>
            <a id="dmna" href="javascript:;">
              <i class="fas fa-angle-double-down"></i>
            </a>
        </p>
      </div>
    </div>
    
    
    <div class="container-fluid segment code" id="marketing-analytics-info"> 
      <div class="row content">
        
          <ul>
            <li><strong>Search Engine Optimization</strong> - This is more than just adding keywords to your website nowadays. Google uses algorithms to determine which websites are the most "useful" and ranks them accordingly. We can help you traverse these waters to bring in more organic traffic</li>
            <li><strong>Search Engine Marketing</strong> - For the more pro-active there is Paid Per Click/Google advertising option </li>
            <li><strong>Social Media Marketing</strong> - Take advantage of the largest social network with facebook ads. Target your audience with precision and power</li>
            <li><strong>Research and Analysis</strong> - Use Google and Facebook Analytics to track your performance to make sure your investments are providing a return.</li>
          </ul>
        
      </div>
    </div>
    
      
      <div class="container-fluid segment">
        <div class="row content">
          <div class="col-md-3">
            <img class="skill-logo" src="../assets/img/analytics.svg"></img>
          </div>
          
          <div class="col-md-9">
            <p>Now you have a fancy website. What happens after? If you build it will they come? ...</p>
            <p>With the proper digital marketing strategies they should!</p>
          </div>
          
        </div>
      </div>

<% include partials/footer %>


