<!doctype html>
<html lang="en">
<head>
  <title>WD | Comming Soon: We are Edmonton's Web Design Company</title>
  <meta name="description" content="More content comming soon! Check back with us shortly.">
  
  <% include partials/header %>
</head>

<% include partials/landing %>


<% include partials/footer %>    
    