<% include partials/header %>

  <div class="form-container">
    <div class="wrapper" id="div1">
      <div class="company-info">
        <h4>The Web Design Company</h4>
        <ul>
          <li><a href="https://www.google.ca/maps/place/Henry+Screenprinting+%26+Manufacturing+Ltd./@53.5648849,-113.5973617,17z/data=!3m1!4b1!4m5!3m4!1s0x53a021470756e0e7:0xa79f58750e631fda!8m2!3d53.5648849!4d-113.595173?hl=en" target="_blank"><i class="fa fa-map-marker-alt"></i></a> 15863 - 116 Ave, Edmonton AB</li>
          <li><a href="tel:780-902-9314"><i class="fa fa-phone"></i></a> (780) 902-9314</li>
          <li><a href="mailto:vudavid0@gmail.com"><i class="fa fa-envelope"></i></a> vudavid0@gmail.com</li>
        </ul>
      </div>
      <div class="contact">
        <div class="alert alert-primary" role="alert">
          Your message has been sent!
        </div>
        <h4>Email Us</h4>
        <form id="contact-form">
          <div class="row">
              <div class="form-group col-md-6 padding">
                <p>
                  <label  for="name">Name<span class="req"><i class="fas fa-asterisk"></i></span></label>
                  <input type="text" class="form-control" id="name" placeholder="Your Name Here" required>
                </p>
              </div>
              <div class="form-group col-md-6 padding">
                <p>
                  <label for="company">Company</label>
                  <input type="text" class="form-control" id="company" placeholder="Your Company">
                </p>
              </div>
          </div>    
          
          <div class="row">
              <div class="form-group col-md-6 padding">
                <p>
                  <label  for="email">Email Address<span class="req"><i class="fas fa-asterisk"></i></span></label>
                  <input type="email" class="form-control" id="email" placeholder="something@email.com" required>
                </p>
              </div>
              <div class="form-group col-md-6 padding">
                <p>
                  <label for="phone">Phone Number<span class="req"><i class="fas fa-asterisk"></i></span></label>
                  <input type="text" class="form-control" id="phone" placeholder="(XXX) XXX-XXXX" required>
                </p>
              </div>
          </div>   
          
          <div class="row mb-4">
            <div class="col">
              <p>Type of Project</p>
              <ul id="proj-type">
                <li class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="brand-strategy">
                  <label class="form-check-label" for="inlineCheckbox1">Brand Strategy</label>
                </li>
                <li class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="logo">
                  <label class="form-check-label" for="inlineCheckbox2">Logo</label>
                </li>
                <li class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="ui-ux">
                  <label class="form-check-label" for="inlineCheckbox3">UI/UX</label>
                </li>
                <li class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="web">
                  <label class="form-check-label" for="inlineCheckbox4">Web</label>
                </li>
                <li class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="seo">
                  <label class="form-check-label" for="inlineCheckbox5">SEO</label>
                </li>
                <li class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="social-media">
                  <label class="form-check-label" for="inlineCheckbox6">Social Media</label>
                </li>
                <li class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="digital-marketing">
                  <label class="form-check-label" for="inlineCheckbox7">Digital Marketing</label>
                </li>
                <li class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="not-sure">
                  <label class="form-check-label" for="inlineCheckbox7">Not Sure</label>
                </li>
              </ul>
             
              
            </div>
          </div>
          
          
          <div class="row">
            <div class="form-group col padding">
              <p>
                <label for="message">Message<span class="req"><i class="fas fa-asterisk"></i></span></label>
                <textarea class="form-control" id="message" rows="5" required></textarea>
              </p>
            </div>
          </div>
          
          <div class="row">
            <div class="col padding">
              <p>
                <button href="#div1" class="btn btn-warning" id="submit-button">Submit</button>
              </p>
            </div>
          </div>
         
  
          
        </form>
      </div>
    </div>
  </div>

<% include partials/footer %>    
    