<% include partials/header %>

  <div class="form-container" id="div1">
    <div class="wrapper">
      <div class="company-info">
        <h4>The Web Design Company</h4>
        <ul>
          <li><i class="fa fa-map-marker-alt"></i> 44 Something st</li>
          <li><i class="fa fa-phone"></i> (555) 555-5555</li>
          <li><i class="fa fa-envelope"></i> test@acme.test</li>
        </ul>
      </div>
      <div class="contact">
        <h4>Email Us</h4>
        <form>
          <div class="row">
              <div class="form-group col-md-6 padding">
                <p>
                  <label  for="name">Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Your Name Here">
                </p>
              </div>
              <div class="form-group col-md-6 padding">
                <p>
                  <label for="company">Company</label>
                  <input type="text" class="form-control" id="company" placeholder="Your Company">
                </p>
              </div>
          </div>    
          
          <div class="row">
              <div class="form-group col-md-6 padding">
                <p>
                  <label  for="email">Email Address</label>
                  <input type="email" class="form-control" id="email" placeholder="something@email.com">
                </p>
              </div>
              <div class="form-group col-md-6 padding">
                <p>
                  <label for="phone">Phone Number</label>
                  <input type="text" class="form-control" id="phone" placeholder="(XXX) XXX-XXXX">
                </p>
              </div>
          </div>   
          
          <div class="row mb-4">
            <div class="col">
              <p>Type of Project</p>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">Brand Strategy</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">Logo</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                <label class="form-check-label" for="inlineCheckbox3">UI/UX</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                <label class="form-check-label" for="inlineCheckbox4">Web</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                <label class="form-check-label" for="inlineCheckbox5">SEO</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
                <label class="form-check-label" for="inlineCheckbox6">Social Media</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option7">
                <label class="form-check-label" for="inlineCheckbox7">Digital Marketing</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option7">
                <label class="form-check-label" for="inlineCheckbox7">Not Sure</label>
              </div>
            </div>
          </div>
          
          
          <div class="row">
            <div class="form-group col padding">
              <p>
                <label for="message">Message</label>
                <textarea class="form-control" id="message" rows="5"></textarea>
              </p>
            </div>
          </div>
          
          <div class="row">
            <div class="col padding">
              <p>
                <button class="btn btn-warning">Submit</button>
              </p>
            </div>
          </div>
         
  
          
        </form>
      </div>
    </div>
  </div>


<% include partials/footer %>    
    