<% include partials/header %>
      
    


    
    <div class="container-fluid segment" id="div1"> 
      <div class="content">
        
        
        <div class="row">
          <div class="col-md-9">
            <h2 class="intro-heading"><strong>Welcome to WD</strong></h2>
            <p>We develop <strong>high performance, modern websites</strong> with consideration towards the <strong>user experience</strong>. This is for businesses who want to effectively <strong>express their brand</strong> and <strong>engage their audience</strong> using the latest technologies. </p>
          </div>
          <div class="col-md-3" id="chatbox">
            <a class="lets-talk" href="/contact"><i class="fas fa-users"></i></a>
            <div class="lt-side">Let's&nbspTalk!</div>
          </div>
        </div>
        
        
      </div>
    </div>
    
    <div class="container-fluid" id="skills">
    
        <div id="skills-content">
          
          <h2 id="skill-heading">Services</h2>
          <div class="row">
            
          <div class="col-lg-4 col-sm-12">
            <div class="category skill-icon box">
              <h2 class="text-center"><i class="fas fa-camera"></i></h2>
              <h3 class="text-center">MARKETING</h3>
            <p class="skill-desc">To create an effective campaign you have to understand your audience and to be seen. How we can help: 
            </p>
          
            <em>
              <ul>
                <li>Search Engine Optimization</li>
                <li>Digital Marketing</li>
                <li>Social Media</li>
              </ul>
            </em>

            </div>
          </div>
      
        
      
        <div class="col-lg-4 col-sm-12">
            <div class="category skill-icon box">
              <h2 class="text-center"><i class="fas fa-laptop"></i></h2>
              <h3 class="text-center">WEB DESIGN</h3>
            <p class="skill-desc">The rise of the internet has been a game changer. Present yourself in the best light through:</p>
            
            <em>
              <ul class>
                <li>Website Development</li>
                <li>User Experience</li>
                <li>User Interface</li>
              </ul>
            </em>
            </div>
          </div>
          
        <div class="col-lg-4 col-sm-12">
            <div class="category skill-icon box">
              <h2 class="text-center"><i class="fas fa-pen-square"></i></h2>
              <h3 class="text-center">BRANDING</h3>
            <p class="skill-desc">How to gain customer loyalty and trust? Branding! How we can help: </p>
            <em>
              <ul>
              <li>Brand Strategy/Identity</li>
              <li>Logo Design</li>
              </ul>
            </em>
            
            </div>
          </div> 
        </div>
         
        
      </div>
    </div>
    
    <div class="container-fluid segment" id="feat-prod">
      <div class="content">
        <h2><span class="nowrap">Featured Projects</span>  <span class="nowrap"> <small class="text-muted"> full portfolio here </small><a href="/work"><i class="fas fa-angle-double-right"></i></a></span></h2>
      </div>
    </div>
    
    <div class="container-fluid" id="showcase">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <a class="show-proj" href="#">
            <img class="zoom hover" src="https://images.pexels.com/photos/70497/pexels-photo-70497.jpeg?h=350&auto=compress&cs=tinysrgb"></img>
            <h4 class="show-heading"><span class="nowrap">The Burg</span></h4>
            <h4 class="show-case-study"><span class="nowrap">View Case Study</span></h4>
          </a>
        </div>
        
        <div class="col-md-6 col-sm-6">
          <a class="show-proj" href="#">
            <img class=" hover zoom" src="https://images.pexels.com/photos/685531/pexels-photo-685531.jpeg?h=350&auto=compress&cs=tinysrgb"></img>
            <h4 class="show-heading">Fitness Life</h4>
            <h4 class="show-case-study"><span class="nowrap">View Case Study</span></h4>
          </a>
        </div>
      </div>
      
      
      <!--<div class="row row-height">-->
      <!--  <div class="col-md-6 col-sm-6">-->
      <!--    <a class="pic-hover"  href="#">-->
      <!--      <div class="zoom zoom-pic hover" id="web1">-->
              <!--<p class="text-hover"><strong>The Burg</strong></p>-->
      <!--        <h4>The burg</h4>            -->
      <!--      </div>-->
      <!--    </a>-->
      <!--  </div>-->
      <!--  <div class="col-md-6 col-sm-6">-->
      <!--    <a class="pic-hover" href="#">-->
      <!--      <div class="zoom zoom-pic hover" id="web2">-->
      <!--        <p class="text-hover">Fit4Life</p>-->
      <!--      </div>-->
      <!--    </a>-->
      <!--  </div>-->
      <!--</div>-->
    </div>
    
    
    <div class="container-fluid segment"> 
      <div class="content">
        <h2><strong>Welcome to WD&B.</strong></h2>
    
        <p>Lorem ipsum dolor amet jianbing activated charcoal dreamcatcher truffaut biodiesel slow-carb sustainable. XOXO beard small batch artisan cliche viral. Four loko pinterest dreamcatcher tumeric single-origin coffee knausgaard activated charcoal beard affogato heirloom food truck butcher fam. Echo park meh chambray dreamcatcher try-hard occupy chillwave. Succulents man braid selvage cray roof party franzen ramps. Actually kickstarter plaid, vexillologist before they sold out tumblr church-key brunch VHS banjo.</p>

        <p>Oh. You need a little dummy text for your mockup? How quaint.</p>
            
        <p>I bet you’re still using Bootstrap too…</p>
      </div>
    </div>  
    

<% include partials/footer %>    
    






