<% include partials/header %>
    
    <div class="container-fluid segment" id="div1"> 
      <div class="content">
        
        
        <div class="row">
          <div class="col-md-9">
            <h2 class="intro-heading"><strong>Welcome to WD</strong></h2>
            <p>We develop <strong>high performance, modern websites</strong> geared towards the <strong>user experience</strong>. This is for businesses who want to effectively <strong>express their brand</strong> and <strong>engage their audience</strong> using the latest technologies. </p>
          </div>
          <div class="col-md-3" id="chatbox">
            <a class="lets-talk" href="/contact"><i class="fas fa-users"></i>
            <div class="lt-side">Let's&nbspTalk!</div></a>
          </div>
        </div>
        
        
      </div>
    </div>
    
    <div class="container-fluid" id="skills">
    
        <div id="skills-content">
          
          <h2 id="skill-heading">Services</h2>
          <div class="row">
            
          <div class="col-lg-4 col-sm-12">
            <div class="category skill-icon box">
              <h2 class="text-center"><i class="fas fa-camera"></i></h2>
              <h3 class="text-center">MARKETING</h3>
            <p class="skill-desc">To create an effective campaign you have to understand your audience and be seen. How we can help: 
            </p>
          
            <em>
              <ul>
                <li>Search Engine Optimization</li>
                <li>Content Marketing</li>
                <li>Analytics</li>
              </ul>
            </em>

            </div>
          </div>
      
        
      
        <div class="col-lg-4 col-sm-12">
            <div class="category skill-icon box">
              <h2 class="text-center"><i class="fas fa-laptop"></i></h2>
              <h3 class="text-center">WEB DESIGN</h3>
            <p class="skill-desc">The rise of the internet has been a game changer. Everyone needs an online presence. Place yourself in the best light using:</p>
            
            <em>
              <ul class>
                <li>Custom Website Development</li>
                <li>Wordpress Develpment</li>
                <li>E-Commerce</li>
              </ul>
            </em>
            </div>
          </div>
          
        <div class="col-lg-4 col-sm-12">
            <div class="category skill-icon box">
              <h2 class="text-center"><i class="fas fa-pen-square"></i></h2>
              <h3 class="text-center">BRANDING</h3>
            <p class="skill-desc">How to gain customer loyalty and trust? Branding! How we can help: </p>
            <em>
              <ul>
                <li>Brand Strategy/Identity</li>
                <li>Logo Design</li>
                <li>User Experience</li>
                <li>User Interface</li>
              </ul>
            </em>
            
            </div>
          </div> 
        </div>
         
        
      </div>
    </div>
    
    <div class="container-fluid segment" id="feat-prod">
      <div class="content">
        <h2><span class="nowrap">Featured Projects</span>  <span class="nowrap"> <small class="text-muted"> full portfolio here </small><a href="/work"><i class="fas fa-angle-double-right"></i></a></span></h2>
      </div>
    </div>
    
    <div class="container-fluid" id="showcase">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <a class="show-proj" href="#">
            <img class="zoom hover" src="https://images.pexels.com/photos/70497/pexels-photo-70497.jpeg?h=350&auto=compress&cs=tinysrgb"></img>
            <h4 class="show-heading"><span class="nowrap">The Burg</span></h4>
            <h4 class="show-case-study"><span class="nowrap">View Case Study</span></h4>
          </a>
        </div>
        
        <div class="col-md-6 col-sm-6">
          <a class="show-proj" href="#">
            <img class=" hover zoom" src="https://images.pexels.com/photos/685531/pexels-photo-685531.jpeg?h=350&auto=compress&cs=tinysrgb"></img>
            <h4 class="show-heading">Fitness Life</h4>
            <h4 class="show-case-study"><span class="nowrap">View Case Study</span></h4>
          </a>
        </div>
      </div>
    </div>
    
    
    <div class="container-fluid segment" id="about-me"> 
      <div class="content">

        <div class="row">
          <div class="col-md-5" id="my-pic">
            <img src="assets/img/bull_popout.png" id="my-pic-img"></img>
          </div>
          <div class="col-md-7" id="about-desc">
            
            <p>Hi, I'm David. I am a web designer and front end developer based in Edmonton, AB. </p>
            <p>I created WD as an online portfolio for me to test my skills and to showcase my abilities. I appreciate good design and believe in the effectiveness of designing for the user experience.</p>
          </div>
        </div>
      </div>
    </div>
    

<% include partials/footer %>    
    






