<% include partials/header %>
      
    


    
    <div class="container-fluid segment" id="div1"> 
      <div class="content">
        <h2><strong>Welcome to WD&B.</strong></h2>
    
        <p>Lorem ipsum dolor amet jianbing activated charcoal dreamcatcher truffaut biodiesel slow-carb sustainable. XOXO beard small batch artisan cliche viral. Four loko pinterest dreamcatcher tumeric single-origin coffee knausgaard activated charcoal beard affogato heirloom food truck butcher fam.</p>

        <p>Oh. You need a little dummy text for your mockup? How quaint.</p>
    
        <p>I bet you’re still using Bootstrap too…</p>
      </div>
    </div>
    
    <div class="row" id="skills">
      <div class="col-md-4 skill-icon">
        <div class="hover">
          <i class="fas fa-camera hover"></i>
          <h3>MARKETING</h3>
        </div>
      </div>
      
      <div class="col-md-4 skill-icon">
        <div class="hover">
          <i class="fas fa-laptop"></i>
          <h3>WEB DESIGN</h3>
        </div>
      </div>
      
      <div class="col-md-4 skill-icon">
        <div class="hover">
          <i class="fas fa-pen-square"></i>
          <h3>BRANDING</h3>
        </div>
      </div>
    </div>
    
    <div class="container-fluid overlay" id="showcase">
      <div class="row row-height">
        <div class="col-md-6 col-sm-6">
          <a class="pic-hover"  href="#">
            <div class="zoom zoom-pic" id="web1">
              <p class="text-hover"><strong>Burger Joint</strong></p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-sm-6">
          <a class="pic-hover" href="#">
            <div class="zoom zoom-pic" id="web2">
              <p class="text-hover">Fitness4U</p>
            </div>
          </a>
        </div>
      </div>
      
      
    </div>
    
    
    <div class="container-fluid segment"> 
      <div class="content">
        <h2><strong>Welcome to WD&B.</strong></h2>
    
        <p>Lorem ipsum dolor amet jianbing activated charcoal dreamcatcher truffaut biodiesel slow-carb sustainable. XOXO beard small batch artisan cliche viral. Four loko pinterest dreamcatcher tumeric single-origin coffee knausgaard activated charcoal beard affogato heirloom food truck butcher fam. Echo park meh chambray dreamcatcher try-hard occupy chillwave. Succulents man braid selvage cray roof party franzen ramps. Actually kickstarter plaid, vexillologist before they sold out tumblr church-key brunch VHS banjo.</p>

        <p>Oh. You need a little dummy text for your mockup? How quaint.</p>
            
        <p>I bet you’re still using Bootstrap too…</p>
      </div>
    </div>  
    

<% include partials/footer %>    
    






