<% include partials/header %>
      
    


    
    <div class="container-fluid segment" id="div1"> 
      <div class="content">
        <h2><strong>Welcome to WD&B.</strong></h2>
    
        <p>Lorem ipsum dolor amet jianbing activated charcoal dreamcatcher truffaut biodiesel slow-carb sustainable. XOXO beard small batch artisan cliche viral. Four loko pinterest dreamcatcher tumeric single-origin coffee knausgaard activated charcoal beard affogato heirloom food truck butcher fam.</p>

        <p>Oh. You need a little dummy text for your mockup? How quaint.</p>
    
        <p>I bet you’re still using Bootstrap too…</p>
      </div>
    </div>
    
    
    <div class="container-fluid overlay" id="showcase">
      <div class="row row-height">
        <div class="col-md-6 col-sm-6">
          <a class="pic-hover"  href="#">
            <div class="zoom zoom-pic" id="web1">
              <p class="text-hover"><strong>Burger Joint</strong></p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-sm-6">
          <a class="pic-hover" href="#">
            <div class="zoom zoom-pic" id="web2">
              <p class="text-hover">Fitness4U</p>
            </div>
          </a>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-4">
          <p>hello</p>
        </div>
        <div class="col-md-4">
          <p>hello</p>
        </div>
        <div class="col-md-4">
          <p>hello</p>
        </div>
        
      </div>
    </div>
    
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="https://images.pexels.com/photos/46253/mt-fuji-sea-of-clouds-sunrise-46253.jpeg?h=350&auto=compress&cs=tinysrgb" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://images.pexels.com/photos/315191/pexels-photo-315191.jpeg?h=350&auto=compress&cs=tinysrgb" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://images.pexels.com/photos/161401/fushimi-inari-taisha-shrine-kyoto-japan-temple-161401.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="Third slide">
        </div>
      </div>
    </div>
    
    
    <div class="container-fluid segment"> 
      <div class="content">
        <h2><strong>Welcome to WD&B.</strong></h2>
    
        <p>Lorem ipsum dolor amet jianbing activated charcoal dreamcatcher truffaut biodiesel slow-carb sustainable. XOXO beard small batch artisan cliche viral. Four loko pinterest dreamcatcher tumeric single-origin coffee knausgaard activated charcoal beard affogato heirloom food truck butcher fam. Echo park meh chambray dreamcatcher try-hard occupy chillwave. Succulents man braid selvage cray roof party franzen ramps. Actually kickstarter plaid, vexillologist before they sold out tumblr church-key brunch VHS banjo.</p>

        <p>Oh. You need a little dummy text for your mockup? How quaint.</p>
            
        <p>I bet you’re still using Bootstrap too…</p>
      </div>
    </div>  
    

<% include partials/footer %>    
    






