<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edmonton's Web Design and Branding Company</title>
    
    <link rel='stylesheet' type='text/css' href="css/bootstrap.css"></link>
    <link rel='stylesheet' type='text/css' href="css/main.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400, 900" rel="stylesheet">
</head>
<body>
    <div id="landing">
      <div id="particles">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">
          <a class="navbar-brand" href="#"><img id ="navlogo" src="assets/img/wdandb.PNG"></a>
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Capabilities</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
          
        </nav>
      </div>
      
      <h1 class="display-4 text-center"><strong>Web Design and Branding</strong></h1>
      
      <div class="container" id="blurb">
         <h3 class=" text-center">
           Building Connections Between Client and Customer by Marrying Stunning Design with Modern Technology
         </h3>
       </div>
       
       <span class="scroll-btn">
      	<a href="#">
      		<span class="mouse">
      			<span>
      			</span>
      		</span>
      	</a>
       </span>
    </div>
    
    <div class="container-fluid" id="buttons">
      <ul class="list-inline text-center">
        <li class="list-inline-item"><button type="button" class="btn btn-outline-light btn-lg">Capabilities</button></li>
        <li class="list-inline-item"><button type="button" class="btn btn-outline-light btn-lg">Work</button></li>
        <li class="list-inline-item"><button type="button" class="btn btn-outline-light btn-lg">About Us</button></li>
        <li class="list-inline-item"><button type="button" class="btn btn-outline-light btn-lg">Contact</button></li>
      </ul>      
    </div>

    
    <div class="container-fluid segment"> 
      <div class="content">
        <h2><strong>Welcome to WD&B.</strong></h2>
    
        <p>Lorem ipsum dolor amet jianbing activated charcoal dreamcatcher truffaut biodiesel slow-carb sustainable. XOXO beard small batch artisan cliche viral. Four loko pinterest dreamcatcher tumeric single-origin coffee knausgaard activated charcoal beard affogato heirloom food truck butcher fam. Echo park meh chambray dreamcatcher try-hard occupy chillwave. Succulents man braid selvage cray roof party franzen ramps. Actually kickstarter plaid, vexillologist before they sold out tumblr church-key brunch VHS banjo.</p>

        <p>Oh. You need a little dummy text for your mockup? How quaint.</p>
            
        <p>I bet you’re still using Bootstrap too…</p>
      </div>
    </div>
    
    
    <div class="container-fluid" id="showcase">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="zoom zoom-pic" id="web1"></div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="zoom zoom-pic" id="web2"></div>
        </div>
      </div>
    </div>
    
    <div class="container-fluid segment"> 
      <div class="content">
        <h2><strong>Welcome to WD&B.</strong></h2>
    
        <p>Lorem ipsum dolor amet jianbing activated charcoal dreamcatcher truffaut biodiesel slow-carb sustainable. XOXO beard small batch artisan cliche viral. Four loko pinterest dreamcatcher tumeric single-origin coffee knausgaard activated charcoal beard affogato heirloom food truck butcher fam. Echo park meh chambray dreamcatcher try-hard occupy chillwave. Succulents man braid selvage cray roof party franzen ramps. Actually kickstarter plaid, vexillologist before they sold out tumblr church-key brunch VHS banjo.</p>

        <p>Oh. You need a little dummy text for your mockup? How quaint.</p>
            
        <p>I bet you’re still using Bootstrap too…</p>
      </div>
      
    </div>    
    
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/popper.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/custom.js" type="text/javascript"></script>
    <script src="js/particles.js" type="text/javascript"></script>
    <script type="text/javascript">
        particlesJS.load('particles', '/assets/particles.json', function() {
          console.log('callback - particles.js config loaded');
        });
    </script>
    
    
    
</body>
</html>





