<!doctype html>
<html lang="en">
<head>
  <title>WD | Edmonton Web Design For the Modern Business</title>
  <meta name="description" content="Edmonton Web Design & Development for Businesses who want Effective Strategies to Increase Customers, Awareness, and Revenue. Services include Web Design, SEO, Social Media, and More... Contact Us for a Quote Today!">
  <% include partials/header %>
</head>

<% include partials/landing %>
    
    <div class="container-fluid segment intro" id="div1"> 
      <div class="content">
        <div class="row">
          <div class="col-md-9">
            <h2 class="intro-heading"><strong>Welcome to WD</strong></h2>
            <p>We develop <strong>high performance, modern websites</strong> geared towards the <strong>user experience</strong>. This is for businesses who want to effectively <strong>express their brand</strong> and <strong>engage their audience</strong> using the latest technologies. </p>
          </div>
          <div class="col-md-3" id="chatbox">
            <a class="lets-talk" href="/contact"><i class="fas fa-users"></i>
            <div class="lt-side">Let's&nbspTalk!</div></a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container-fluid" id="services">
        <div id="service-content">
          <h2 id="service-heading">Services</h2>
          <div class="row">
            <div class="col-lg-4 col-sm-12">
              <a class="capability-link" href="/capabilities#p1">
              <div class="category service-icon box">
                <h2 class="text-center"><i class="fas fa-pen-square"></i></h2>
                <h3 class="text-center">BRANDING</h3>
              <p class="service-desc">How to gain customer loyalty and trust? Branding! How we can help: </p>
              <em>
                <ul>
                  <li>Brand Strategy/ Identity</li>
                  <li>Logo Design</li>
                  <li>UI/UX</li>
                  <li>Wireframing</li>
                </ul>
              </em>
              </div>
              </a>
            </div> 
        
      
            <div class="col-lg-4 col-sm-12">
              <a class="capability-link" href="/capabilities#p2">
              <div class="category service-icon box">
                <h2 class="text-center"><i class="fas fa-laptop"></i></h2>
                <h3 class="text-center">WEB DESIGN</h3>
              <p class="service-desc">The rise of the internet has been a game changer. Everyone needs an online presence. Place yourself in the best light using our:</p>
              <em>
                <ul class>
                  <li>Custom Website Development</li>
                  <li>CMS & E-commerce</li>
                  <li>User Testing and Quality Assurancee</li>
                </ul>
              </em>
              </div>
              </a>
            </div>
          
            <div class="col-lg-4 col-sm-12">
              <a class="capability-link" href="/capabilities#p3">
              <div class="category service-icon box">
                <h2 class="text-center"><i class="fas fa-camera"></i></h2>
                <h3 class="text-center">MARKETING</h3>
              <p class="service-desc">To create an effective campaign you have to understand your audience and be seen. How we can help: 
              </p>
              <em>
                <ul>
                  <li>Search Engine Optimization</li>
                  <li>SEM & SMM</li>
                  <li>Research & Analytics</li>
                </ul>
              </em>
              </div>
            </div>
            </a>
          </div>  
        
      </div>
    </div>
    
    <div class="container-fluid segment" id="project-header">
      <div class="content">
        <h2><span class="nowrap">Featured Projects</span>  <span class="nowrap"> <small class="text-muted"> full portfolio here </small><a href="/work"><i class="fas fa-angle-double-right"></i></a></span></h2>
      </div>
    </div>
    
    <div class="container-fluid" id="showcase">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <a class="show-proj" href="#">
            <img class="zoom hover" src="https://images.pexels.com/photos/70497/pexels-photo-70497.jpeg?h=350&auto=compress&cs=tinysrgb"></img>
            <p class="show-heading">The Burg<br><span class="nowrap show-case-study">View Case Study</span></p>
          </a>
        </div>
        
        <div class="col-md-6 col-sm-6">
            <a class="show-proj" href="#">
            <img class="cover hover zoom" src="https://images.pexels.com/photos/685531/pexels-photo-685531.jpeg?h=350&auto=compress&cs=tinysrgb"></img>
            
            <p class="show-heading">Fitness Life<br><span class="nowrap show-case-study">View Case Study</span></p>
            </a>
        </div>
      </div>
    </div>
    
    
    <div class="container-fluid segment"> 
      <div class="content">

        <div class="row">
          <div class="col-md-5" id="my-pic">
            <img src="assets/img/about-me.png" id="my-pic-img"></img>
          </div>
          <div class="col-md-7">
            
            <p>Hi, I'm David. I am a web developer that specializes in front end design based in Edmonton, AB. </p>
            <p>I created WD as an online portfolio to test my skills and to showcase my abilities. If you want to hire me for a basic website or something a bit more involved, I am always looking for a good challenge. Let's make something awesome!</p>
          </div>
        </div>
      </div>
    </div>
    

<% include partials/footer %>    
    






