<!doctype html>
<html lang="en">
<head>
  title>WD | Thank You: We will contact you soon on your next Web Design project</title>
  <meta name="description" content="Thank you for your Email. We will reply as soon as possible for your next Web Design/SEO project.">
  
  <% include partials/header %>
</head>

<% include partials/landing %>



<% include partials/footer %>    
    