<!doctype html>
<html lang="en">
<head>
  <title>WD | Portfolio: View our Case Studies for Web Design, SEO, Brand Strategy, Digital Marketing... </title>
  <meta name="description" content="Check Out our latest work in Web Design, User Experience, SEO, Digital Marketing, Brand Strategy, and Web Development">
  
  <% include partials/header %>
</head>

<% include partials/landing %>

  <div class="container-fluid segment" id="div1"> 
    <div class="content">
      <h2 class="intro-heading"><strong>Like what you see?</strong></h2>
  
      <p>Currently most of the projects are still mock ups. Will add more projects over time. If you want to talk more about services, pricing, or have any general inquiries click the button below.</p>
      <button class="btn btn-lg btn-warning" href="/contact">Contact</button>
    </div>
  </div>

  <div class="grid">
    <div class="grid-sizer"></div>
    <div class="grid-item">
      <a class="show-proj" href="https://designercakesyyc.com" target="_blank">
        <img class="zoom hover"src="../assets/img/designer-cakes-yyc.jpg" />
        <p class="show-heading">Designer Cakes YYC<br><span class="nowrap show-case-study">Visit Site</span></p>
      </a>
    </div>
    <div class="grid-item">
      <a class="show-proj" href="/coming-soon">
      <img class="zoom hover" src="https://images.unsplash.com/photo-1502301103665-0b95cc738daf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0cfbf215d8340daac2d24a50da24eeeb&auto=format&fit=crop&w=700&q=80" />
        <p class="show-heading">Arrivederci<br><span class="nowrap show-case-study">View Case Study</span></p>
      </a>
    </div>
    <div class="grid-item">
      <a class="show-proj" href="/coming-soon">
      <img class="zoom hover" src="https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" />
        <p class="show-heading">Trailblazer<br><span class="nowrap show-case-study placeholder">View Case Study</span></p>
      </a>
    </div>
    <div class="grid-item">
      <a class="show-proj" href="/coming-soon">
      <img class="zoom hover" src="https://images.unsplash.com/photo-1485373650022-3ed53f62b8f3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=197cde65c559c1b74ac2037bef4a2601&auto=format&fit=crop&w=1834&q=80" />
        <p class="show-heading">Suit Up<br><span class="nowrap show-case-study placeholder">View Case Study</span></p>
      </a>
    </div>
    <div class="grid-item">
      <a class="show-proj" href="/coming-soon">
      <img class="zoom hover"  src="https://images.unsplash.com/photo-1481066717861-4775e000c88a?ixlib=rb-0.3.5&s=71de46a4c6f5c1d4c570e5954f99a449&auto=format&fit=crop&w=634&q=80" />
        <p class="show-heading">Bridal Flowers<br><span class="nowrap show-case-study placeholder">View Case Study</span></p>
      </a>
    </div>
    <div class="grid-item">
      <a class="show-proj" href="/coming-soon">
      <img class="zoom hover" src="https://images.unsplash.com/photo-1470274038469-958113db2384?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=319a6ecef4a2d0d85fac426f827179ef&auto=format&fit=crop&w=1875&q=80" />
        <p class="show-heading">The Cabana<br><span class="nowrap show-case-study placeholder">View Case Study</span></p>
      </a>
    </div>
    <div class="grid-item">
      <a class="show-proj" href="/coming-soon">
      <img class="zoom hover" src="https://images.pexels.com/photos/277320/pexels-photo-277320.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" />
        <p class="show-heading">Watch Out<br><span class="nowrap show-case-study placeholder">View Case Study</span></p>
      </a>
    </div>
    <div class="grid-item">
      <a class="show-proj" href="/coming-soon">
      <img class="zoom hover" src="https://images.unsplash.com/photo-1442512595331-e89e73853f31?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf1a1f5dc811c25c3fde15099a940ffe&auto=format&fit=crop&w=1050&q=80" />
        <p class="show-heading">Bean Bean<br><span class="nowrap show-case-study placeholder">View Case Study</span></p>
      </a>
    </div>
  </div>

<% include partials/footer %>    
