/*landing======================================================================*/


@media (max-width: 576px) {
	p {
		font-size:18px;
	}
	
	#buttons ul{
		max-width: 300px;
	}
	
	#buttons {
		top: 35vh;
		left: 50%;
		transform: translate(-50%);
	}
	
	.display-4 {
		font-size: 40px!important;
		max-width: 400px!important;
	}

	#blurb {
		display: none;
	}
	
	.home {
		top: 5vh;
		left: 50%;
		transform: translate(-50%);
		width: 200px!important;
	}
	
	.test{
    	top: 250px!important;
    	height: 500px;
    }
	
	h2 {
		font-size: 35px!important;
	}	
	
	.grid-item {
		width: 100%!important;
	}
	.sizer {
		max-width: 200px;
	}

}

@media (max-width: 768px) {
    
    .home {
		top: 20px;
		left: 50%;
		transform: translate(-50%);
		width: 250px;
	}
	
	.test{
    	top: 200px;
    	height: 500px;
    }

	.display-4 {
		font-size: 65px;
		max-width: 500px;
		height: 250px!important;
		margin: 0 auto;
	}
	

	#buttons {
	    position: absolute!important;
	    max-width: 300px;
	    margin: 0 0;
        top: 50%;
        left: 50%;
		transform: translate(-50%, -50%);
	}

	#blurb {
	    margin: 140px auto 0 auto;
		width: 500px;
	}

	h3 {
		font-size: 24px;
	}
	
	.grid-item {
		width: 100%;
	}

	.sizer {
		max-width: 400px;
	}
}

@media (min-width: 769px){
    
    .test{
    	top:10vh;

    }
	
	#buttons {

		width: 500px;
		margin: 0 auto;
	}
	
	.display-4 {
		font-size: 6em;
		padding: 40px 0 60px 0;
	}
	
	.home {
		top: 10vh;
		left: 3vw;
		max-width: 150px;
		transform: translate(0,-35%);
	}

	#blurb {
	    width: 700px;
	    margin: 0 auto;
	}
	
	.grid-item {
		width: 50%;
	}
	
	.sizer {
		max-width: 600px;
	}

}

@media (min-width: 992px) { 
	.grid-item {
		width: 33.333333%;
	}
	
	.sizer {
		max-width: 800px;
	}
}


#landing {
	position: relative;
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  	overflow: hidden;
  	z-index: 1;
  	min-height:100vh;
  	
  	
  	-webkit-animation: fadein 3s; 
	-moz-animation: fadein 3s; 
	-ms-animation: fadein 3s; 
	 -o-animation: fadein 3s; 
    animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.landing-home {

  background-image:   
      linear-gradient(
      rgba(25, 0, 255, 0.45), 
      rgba(255, 100, 0, 0.40)),
      url("../assets/img/html_css.jpeg");
  
 
  
}

.landing-capabilities{
  background-image:   
      linear-gradient(
      rgba(25, 0, 255, 0.45), 
      rgba(255, 100, 0, 0.45)),
      url("../assets/img/code.jpeg");
}

.landing-work{
  background-image:   
      linear-gradient(
      rgba(25, 0, 255, 0.45), 
      rgba(255, 100, 0, 0.45)),
      url("https://images.pexels.com/photos/273230/pexels-photo-273230.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
}

.landing-about{
  background-image:   
      linear-gradient(
      rgba(25, 0, 255, 0.45), 
      rgba(255, 100, 0, 0.45)),
      url("../assets/img/bull.jpg");
      background-position: top!important;
     
}

.landing-contact{
  background-image:   
      linear-gradient(
      rgba(25, 0, 255, 0.45), 
      rgba(255, 100, 0, 0.45)),
      url("../assets/img/phone.jpeg");
}


.test{
	position: relative;
	max-width:750px;
	margin: 0 auto;
}

button {
	margin: 4px 0px;
}

#buttons {
	position: relative;
	z-index: 2;
}

.home {
	position: absolute;
	z-index: 11;
}

.display-4{
	position: relative;
	font-weight: 900!important;
}

#blurb {
	position: relative;
	border-bottom: solid 1px #f8f9fa;
	border-top: solid 1px #f8f9fa;
	background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.2) 50%, rgba(0,0,0,0) );
	z-index: 0;
}


h3 {
	margin-top: 0.5rem;
}



#wd-white {
	max-width: 100%;
	max-height: 100%;
}

#particles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;  
  height: 100%;  
  z-index: 0;
}


/*Mouse css===============================================================*/

@-webkit-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
 .scroll-btn {
	display: block;
	position: absolute;
	bottom: 5vh;
	left: 83%;
	right: 0;
	text-align: center;
	z-index: 10;
}

.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 35px;
	height: 55px;
	margin: 0 auto 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid white;
	border-radius: 23px;
}

.scroll-btn .mouse > * {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: white;
	border-radius: 50%;
	-webkit-animation: ani-mouse 2.5s linear infinite;
	-moz-animation: ani-mouse 2.5s linear infinite;
	animation: ani-mouse 2.5s linear infinite;
}