
body {
  font-family: Raleway, sans-serif!important;
}

p{
	font-size: 24px;
}

a{
	color: rgb(255, 100, 0);
	text-decoration: none!important;
}

a:hover {
	color: rgba(255, 100, 0, 0.6);
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.row {
	margin: 0 0;
}

.segment {
	padding:70px 20px;
	overflow: auto;
	font-size: 18px;
	position: relative
}

.content {
	position: relative;
	max-width:960px;
	margin: auto auto;
	width:100%;
}

/*navigation css====================================================*/

#navlogo {
  max-width: 3em;
  max-height:3em;
}

#navbar {
  display: none;
}

#navbarNav{
  padding-top: 10px;
  float:right;
  clear: right;
  text-align: right;
}

.navbar-toggler {
  float: right;
  margin-top: 10px;
}

.navbar {
  box-shadow: 0px 0px 0.5px gray;
  z-index: 20;
}

.navbar > button {
	margin-top: 6px;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 1rem;
	padding-left: 1rem;
}

.nav-link{
	letter-spacing: 1px;
}



/*introduction div===================================================*/

.intro-heading{
	padding-bottom: 10px;	
}

.lets-talk {
	font-size:100px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

#chatbox {
	position: relative;
}

.lt-side{
	color: black;
	font-size: 30px;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	top:80%;
	transform: translate(-50%);
	display: none;
	
}



/*service section=================================================================*/



#services {
	min-height: 400px;
	background-color: rgba(25, 0, 255, 0.75);
	padding: 30px 30px;
	width:100%;
	color: white;
}

#service-content{
	/*max-width: 900px;*/
	margin: 0 auto;
}

#service-heading {
	text-align: center;
	padding-bottom: 20px
}

.service-desc {
	font-size: 18px;
}

.capability-link{
	color: white;
	opacity: 0.75;
}
.capability-link:hover {
	color: white;
	opacity: 1;
}

.category {
	width: 100%;
	height: 92%;
	margin: 10px auto;
	opacity: 0.75;
	
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

h2 {
	font-size: 50px;
}

.service-icon {
	font-size: 18px;
	padding: 15px 40px;
	
}

.box {
	border: solid 2px white;
	border-radius: 10px;
	text-decoration: none;
}

.shiftup{
	opacity: 1;
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	-o-transform: translateY(-15px);
	transform: translateY(-15px);
}

/*featured products============================================================*/

#project-header{
	background-color: #191919;
	color: white;
}

.nowrap {
	white-space: nowrap;
}

#showcase {
	padding-left: 0;
	padding-right: 0;
}

/*Zoom in to picture===============================================*/

#showcase {
	position: relative;
}


.col-md-6 {
	padding: 0 0;
	overflow: hidden;
	max-height: 500px;
}

.col-md-6 img {
	width: 100%;
	min-height: 100%;
	z-index: 10;
}


.show-heading {
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: -1;
}
.show-case-study {
	border: solid 3px  rgba(255, 100, 0, 0.8);
	padding: 5px 10px;
	font-size: 24px;
	font-weight: 400;
}

.show-proj {
	color: black!important;
}

.zoom {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

/*about section=========================================*/
#my-pic {
	height: 325px;
}

#my-pic-img {
	opacity: 0.85;
	position: absolute;
	padding: 0 0;
	margin: 0 0!important;
	left: 50%;
	transform: translate(-50%);
	margin: 10px;
	max-width: 300px;
	
}


/*call to action:=====================================================*/

.cta {
	background-color: #191919;
	color: white;
	height: 200px;
	width: 100%;
	position: relative;

}

#cta-heading{
	text-align: center;
	padding-top: 38px;
}
.cta-button {
	position: absolute;
	top: 58%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto auto;
}

/*button====================================================*/
.btn{
	letter-spacing: 1px;
}

.btn-warning {
	background-color:rgba(255, 100, 0, 1) ;
	border-color:rgba(255, 100, 0, 1) ;
	color: white ;
}

.btn-warning:hover{
	background-color: rgba(25, 0, 255, 1);
	border-color: rgba(25, 0, 255, 1);
	color: white;	
}

.btn-warning:focus {
	background-color: rgba(25, 0, 255, 1);
	border-color: rgba(25, 0, 255, 1);
	color: rgba(255, 100, 0, 1);
	box-shadow: 0 0 0 0.2rem rgba(25, 0, 255, 0.5);
}
.btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus{
	background-color: rgba(25, 0, 255, 1);
	border-color: rgba(25, 0, 255, 1);
	color: rgba(255, 100, 0, 1);
}

.btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(25, 0, 255, 0.5);
}



.btn-success:not(:disabled):not(.disabled):active:focus{
	
}

/*Footer=================================================================*/

#footer {
	background-color: #f8f9fa;
	border-top: solid 1px lightgrey;
	height: 100%;

}

#address{
	text-align: right;
	padding: 20px 5vw;
	list-style-type: none;
}

.social {
	padding: 20px 5vw;
}

a.icons {
	color: none;
	text-decoration: none;
}

#social-icons {
	padding: 5px 0;
	margin: auto;
	list-style-type: none;
}

/*capabilities css=======================================================*/
.cap-logo{
	max-width: 150px;
	max-height: 150px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.content-2 {
	height: 150px;
	padding: 0 50px;
}

hr {
    border: 0;
    height: 1px;
    width:80%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0 0;
}

#webdevlist {
	padding-bottom: 30px;
}
      
.col-md-3 {
	width:100%;
	height: 150px;
	margin-bottom: 30px;
}

#brand{
	font-size: 20px;
}

.code {
	display: none;
	background-color: #f8f9fa;
}

.tool-container {
	width: 90vw;
	margin: auto;
}

.sizer {
	list-style-type: none;
	width:100%;
	margin: auto;
	padding: 0 0;
}

.grid-item-size { 
	position: relative;
	float: left;
	width: 200px;
	height: 160px;
}

.wdtools{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	margin: 0 auto;
}

#tools {
	padding-top: 50px;
	padding-bottom: 10px;
}

.parallax {
	position: relative;
	width: 100%;
	height: 500px;
	color: white;
	-webkit-box-shadow:0px 1px 1px lightgrey;
	-moz-box-shadow:0px 1px 1px lightgrey;
	box-shadow:0px 5px 5px lightgrey;
}

.par-head{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tab1{
	position: absolute;
	text-align: center;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
}

#p1{
	background: linear-gradient(
      rgba(25, 0, 255, 0.45), 
      rgba(225, 0, 255, 0)), url("../assets/img/branding-design.jpeg") no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

#p2{
	background: linear-gradient(
      rgba(25, 0, 255, 0.45), 
      rgba(255, 100, 0, 0)), url("../assets/img/web-development.jpg") no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	padding-left: 50px;
}

#p3{
	background: linear-gradient(
      rgba(25, 0, 255, 0.45), 
      rgba(255, 100, 0, 0)), url("../assets/img/marketing-analytics.jpg") no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

.skill-logo {
	max-width: 170px;
	display: block;
	margin: 0 auto;
}

/*work css=======================================================*/

/* force scrollbar */
html { overflow-y: scroll; }

/* ---- grid ---- */

.grid {	
	margin: 0 auto 2.5% auto;
	width: 95%;
	background-color:  #f8f9fa;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
	position: relative;
	float: left;
	overflow: hidden;
	z-index: 0;
}



.grid-item img {
    display: block;
    max-width: 100%;
    z-index: 3;
}

/*contact page=========================================*/

.form-container {
	max-width:1170px;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
    font-size: 20px;
}

.company-info > ul {
	list-style: none;
	padding: 0;
}

.wrapper {
	background-color: #f8f9fa;
	box-shadow: 0 0 20px 0 grey;
	margin: 50px 0;
}

.wrapper > *{
	padding: 1em;
}

.company-info {
	background-color: rgba(25, 0, 255, 0.75);
	color: white;
	text-align: center;
}
 .padding{
 	padding: 0 1em;
 }
 
.alert {
	display:none;
}

.req {
	color: red;
	font-size: 8px;
	position: absolute;
}
